/* 
 * CSS styles for Kiva Loan Search webpage
*/

#feedback {
    font-size: 1.4em;
}
#resultsTable .ui-selecting {
    background: #FECA40;
        border-radius:15px;
}
#resultsTable .ui-selected {
    background: #F39814;
    color: white;
    border-radius:15px;
}
#resultsTable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#resultsTable li {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 3px;
    padding: 0.4em;
    font-size: 1.1em;
}

h1 {
    color: #F39814;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center
}

body {
    background-color: #fff;  
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

#results {
    width: 700px;
}

 #popover {
    display: none;
    background: #63A836;
    border-radius:15px;
    text-align: center;
}

#bannerThin {
    height: 7px;
    background: #3D821B;
}
  
#bannerTitle {
    height: 70px;
    background: #63A836;
  }
  
#searchTitle {
    color: #fff;
    font-family: "Museo Slab 300", Rockwell, Georgia, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.786em;
    line-height: 70px;
}

#loanTitle {
    text-align: center;
    font-family: "Museo Slab 300", Rockwell, Georgia, serif;
}
 
ul {
  list-style-type: none;
}
 
h3 {
  font-family: "Museo Slab 300", Rockwell, Georgia, serif;
}

h4 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    color: #fff;
    font-family: "Museo Slab 300", Rockwell, Georgia, serif;
}
 
li img {
  float: left;
  margin: 10px;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

#searcher {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

#lender {
    padding: 0;
    float: left;
}

.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
[class*='col-'] {
  float: left;
}