/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2014, 3:49:43 PM
    Author     : mileslaff
*/

#feedback {
    font-size: 1.4em;
}
#resultsTable .ui-selecting {
    background: #FECA40;
}
#resultsTable .ui-selected {
    background: #F39814;
    color: white;
}
#resultsTable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
    //float: left;
}
#resultsTable li {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 3px;
    padding: 0.4em;
    font-size: 1.1em;
    //width: 400px;
    //height: 18px;
    //float: left;
    //text-align: center;
    
}

h1 {
    color: #F39814;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center
}

body {
    background-color: #fff;  
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

 #popover {
    display: none;
    width: 900px;
    height: 900px;
    background: #96DC91;
    border: 1px solid #000;
    //float: right;
    border:2px solid;
    border-radius:25px;
    box-shadow: 10px 10px 5px #888888;
}

#bannerThin {
    height: 7px;
    background: #3D821B;
}
  
#bannerTitle {
    height: 70px;
    background: #63A836;
  }
  
  #searchTitle {
    color: #fff;
    font-family: "Museo Slab 300", Rockwell, Georgia, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.786em;
    line-height: 70px;
}

#loanTitle {
    text-align: left;
}
 
ul {
  list-style-type: none;
  width: 500px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

#searcher {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}